<div class="progress-wrapper">
  <div id="progress-bar-container">
    <ul>
      @for (step of stepsList; track step.stepName; let i = $index) {
      <li
        class="step step0{{ i + 1 }}"
        [class.active]="i === activeStepIndex"
        (click)="setActiveStep(i)"
      >
        <div class="step-inner">{{ step.stepName }}</div>
      </li>
      }
    </ul>
    <div id="line">
      <div id="line-progress" [style.width.%]="progressWidth"></div>
    </div>

    <div id="progress-content-section">
      @for (step of stepsList; track step.stepName; let i = $index) {
      <div
        class="section-content step{{ i + 1 }}"
        [class.active]="i === activeStepIndex"
      >
        <h2>{{ step.stepName }}</h2>
        <p>{{ step.content }}</p>
      </div>
      }
    </div>
  </div>
  <!-- progress-wrapper -->
</div>
